body{
	box-sizing: border-box;
	font-family: "Comic Sans MS";

}

h1{
	color: #2D241E;
	text-align: center;
	font-family: "Comic Sans MS";
}

.container-box {
	border: 2px solid black;
	margin: 30px 20px 10px 20px;
	width: 30%;
	float: left;
	background-color: #C2C5CC;
	font-size: 0.8em;

	}

.container-titre{
	display: block;
	margin: 20px 20px 20px 20px;
	float: right;

}

/*CSS for Title Sytle & placement*/
#chicken, #beef, #sushi{
	width: 150px;
	margin: 0;
	padding: 5px;
	float: right;
	font-weight: bold;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;

}
#chicken{
	background-color: #FFA07A;
}
#beef{
 	background-color: #E61313;
 	color: #fff;
}
#sushi{
	background-color: #FADA5E;
	color: #000;
}

.text{
	padding: 10px 10px 10px 10px;
	float: left;
	text-align: justify;
	color: #2D241E;

}

/*Tablet View*/
@media only screen and (max-width: 991px) and (min-width: 768px){
	.container-box{
		width: 40%;
	}
	#sushi-box{
		width: 85%;
	}
}

/*Mobile View*/
@media only screen and (max-width: 767px){

	#chicken-box{
		width: 90%;
		margin: 0 10px 0 20px;
	}
	#beef-box{
		width: 90%;
		margin: 15px 10px 0 20px;
		
	}
	#sushi-box{
		width: 90%;
		margin: 15px 10px 0 20px;
	}
}